.grid
    display: grid
    
    &--2
        grid-tempalte-columns: repeat(auto-fill, minmax(150px, 1fr))
        grid-template-rows: 250px 150px 200px 100px 100px 200px 150px 60px 170px
        gap: 12px
