// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header
    position: relative
    height: 100vh
    display: flex
    flex-direction: column

    &::before
        content: ''
        display: block
        height: 80vh
        position: absolute
        top:  0
        left: 0
        right: 0
        background: url('/src/assets/images/header.jpg')
        opacity: 0.75
        background-size: cover
        background-position: 50% 70%
        background-repeat: no-repeat
        z-index: -1

    @include atSmall()
        margin: 0 10px

    &__title
        text-transform: lowercase !important
        margin-bottom: 0
        margin-top: auto
        padding-top: 200px
        text-shadow: 0 0 10px rgba(#000,0.25)

    &__text--bottom
        height: 20vh
        text-align: center
        padding-top: 20px
        letter-spacing: 0.0225rem
        color: lighten(#000, 10%)
        line-height: 1.618
        margin: auto 10px 0

.hashtag
    width: 100%
    display: block
    text-align: center
    font-size: 4rem
    text-transform: uppercase
    font-family: 'PT Sans', sans-serif
    font-weight: 700
    color: lighten(deepskyblue, 30%)
