.text
    @extend %text-center
    font-family: $font-sans

    &--white
        @extend %color-white

    &--small
        font-size: 14px

    &--left
        @extend %text-left

    &--big
        font-size: 20px

    &--thick
        @extend %text-thick
