doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    body
        h1 Hello World!
        div: img(src=require("./assets/images/img-connect.jpg").default, alt="#")
        div: img(src=require("./assets/icons/icon-facebook.svg").default, alt="#")
